* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.back {
    width: 500px;
    height: 500px;
}

.slider_container {
    position: relative;
    border-color: #fff;
    background-color: #f5f5f5;
    top: 48px;
    left: -2px;
}

#st {
    width: 100%;
    height: 100%;
    background-image: url(./07.jpg);
    background-size: cover;
    background-position: center;
}

.title {
    margin: 60px;
    position: absolute;
    top: 200px;
    left: -50px;
    -webkit-animation: bounce-up 2s linear infinite;
    animation: bounce-up 2s linear infinite;
}

.back {
    margin: 60px;
}

#lo {
    min-width: 800px;
}

.slider_container div {
    position: absolute;
    bottom: 75px;
    left: 345px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.p {
    height: 620px;
    position: absolute;
    left: 95px;
    top: -445px;
}

.slider_container div {
    -webkit-animation: round 25s linear infinite;
    animation: round 25s linear infinite;
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

.slider_container div:nth-child(5) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.slider_container div:nth-child(4) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.slider_container div:nth-child(3) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

.slider_container div:nth-child(1) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}

.slider_container span {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slider_container:hover span {
    width: 100%;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.slider_container:hover div {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes bounce-up {
    25% {
        -webkit-transform: translateX(10px);
    }
    50%,
    100% {
        -webkit-transform: translateX(0);
    }
    75% {
        -webkit-transform: translateX(-10px);
    }
}

@keyframes bounce-up {
    25% {
        transform: translateX(10px);
    }
    50%,
    100% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-10px);
    }
}

body {
    background-color: white;
}

#username,
#password,
#fullname,
#comfirm_password,
#username2,
#password2 {
    width: 300px;
    height: 50px;
    margin: 20px;
    color: #df5334;
    font-size: 25px;
}

h3 {
    font-size: 40px;
    text-align: center;
    color: #df5334;
    margin: 20px;
}

h5 {
    margin: 20px;
    color: #a3a2a3;
    font-size: 25px;
    padding: 100px;
}

h5:hover {
    color: black;
}

#container1,
#container2 {
    margin: 50px;
    padding: 10px;
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    border-top: 10px solid #df5334;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    /*定位對齊*/
    margin: auto;
    top: 100px;
    text-align: center;
}

.system_name {
    /*定位對齊*/
    position: relative;
    margin: auto;
    top: 100px;
    text-align: center;
}

.submit {
    color: white;
    background: #df5334;
    width: 300px;
    height: 70px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    font-size: 25px;
}

.submit:hover {
    background: #db6937;
}

#container2 {
    visibility: hidden;
    /*剛開始消失*/
    height: 350px;
}

#copyright {
    text-align: center;
    color: #a3a2a3;
    margin: -400px 0px 0px 0px;
    font-size: 14px;
}

input {
    padding: 5px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.login_page {
    position: absolute;
    top: 450px;
    right: 400px;
}